/* VARS */
:root
{
    --primary_background-color: rgb(48, 54, 99);
    --secondary_background-color: rgb(70, 46, 105);
    --primary_border-color: rgb(37, 37, 68);
    --secondary_border-color: rgb(43, 17, 56);
    --primary_text-color: rgb(230,230,230);
    --secondary_text-color: rgb(255, 255, 255);

    --input_text-color: rgb(0,0,0);
    --background-color: rgb(0,0,0);
}

/* GLOBAL */
*{font-family: 'Courier New', Courier, monospace;}
html{background-color: var(--background-color);}

h3 {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: italic;
  }

p {
    font-family: "Playwrite IT Moderna", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }
label {
    font-family: "Atkinson Hyperlegible Mono", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal; 
}


h2
{
    font-family: "Playwrite IT Moderna", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

body
{
    /*background-color: var(--primary_background-color);
    border: 10px var(--primary_border-color) solid;*/
    color:var(--primary_text-color);
    /*margin: 20px;*/
    font-size: 15px;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: left;
    text-indent: 1em;
    padding-left: 4em;
    padding-right: 4em;
    padding-top: 0%;
    padding-bottom: 0%;
    margin-bottom: 0%;
    background: linear-gradient(180deg, var(--primary_background-color), var(--background-color));
/*  border: 10px rgb(5,5,60) solid; background: rgb(48,70,50); background: linear-gradient(0deg, rgb(27, 38, 40) 0%, rgb(77, 82, 146) 100%); */
}

footer
{
    border: 5px var(--primary_border-color) solid;
    background-color: var(--primary_background-color);
    margin-top: 60px;
    color:gray;
    text-align: center;
    margin-bottom: 0%;
}

#InputsZone
{
    padding-bottom: 20px;
    text-align: center;
}

header
{
    border: 5px var(--primary_border-color) solid;
    background-color: var(--secondary_background-color);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    /* position: fixed; */
    /* left:auto; */

    /*background-color: var(--secondary_background-color);
    border: 5px var(--secondary_border-color) solid;
    margin-top: 0%;*/
}
h1
{
    color: var(--secondary_text-color);
    font-weight: bold;
    font-size: 3em;
    margin-top: 11px;
    text-decoration: underline;
}

textarea{resize: none;}
input:hover, textarea:hover{opacity: 0.8;}
.textboxes

/* CLASSES */
.container {padding: 16px;}
.SendButton{background-image: url('https://icon-library.com/images/black-plus-icon/black-plus-icon-24.jpg');
    align-self: flex-start;
    margin: 0;
}
/* .Task_CompleteButton{background-image: url('https://clipart-library.com/images_k/check-mark-symbol-transparent-background/check-mark-symbol-transparent-background-2.png');
    background-color: rgb(127, 196, 127);}
.Task_CompleteButton:hover{background-image: url('../../img/check_verde.png');
    background-color: rgb(172, 212, 172);} */
.Task_EditButton{background-image: url('https://icon-library.com/images/edit-icon-image/edit-icon-image-29.jpg');
    background-color: rgb(205, 192, 106);}
.Task_EditButton:hover{background-image: url('../../img/lapiz_movido.png');
    background-color: rgb(205, 192, 106);}
.Task_TrashButton{background-image: url('../../img/trash_closed_transparent.png');
    background-color: rgb(188, 113, 113);}
.Task_TrashButton:hover{background-image: url('../../img/trash_open_transparent.png');
    background-color: rgb(188, 113, 113);}
.Task_Current{opacity: 1;}
.Task_Complete{opacity: 0.5;}

.Task_Complete .Task_CompleteButton {
    background-image: url('../../img/cruz.png');
    background-color: rgb(127, 196, 127);
} 
.Task_Complete .Task_CompleteButton:hover {
    background-image: url('../../img/cruz.png');
    background-color: rgb(172, 212, 172);
}
.Task_Current .Task_CompleteButton{
    background-image: url('https://clipart-library.com/images_k/check-mark-symbol-transparent-background/check-mark-symbol-transparent-background-2.png');
    background-color: rgb(127, 196, 127);
}
.Task_Current .Task_CompleteButton:hover{
    background-image: url('../../img/check_verde.png');
    background-color: rgb(172, 212, 172);
}

/* BASURA ANTERIOR IMG
.Task_TrashButton{background-image: url('https://icon-library.com/images/trash-icon-vector/trash-icon-vector-19.jpg');} 
*/

.buttonStyle
{
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: center;
    width: 25px;
    height: 25px;
    border-radius: 3px;
    cursor: pointer;
    /* border-radius: 30px; */
}

/* ESTO ES UNA PRUEBA*/
.input-button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 10px auto;
}

.selectTask
{
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
}

.textboxes
{
    display: inline-grid;
    margin: 5px 0;
}
.textboxes_input
{
    color:var(--input_text-color);
    width: 500px;
    height: 30px;
    padding: 2px;
    margin-top: 5px;
    margin: 5px 0;  
}
/* IDs */
#task_name{height: 30px;}
#task_desc{height: 80px;}
#current_task_tab, #completed_task_tab
{
    background-color: var(--secondary_background-color);
    border: 5px, var(--secondary_border-color), solid;
    border-radius: 10px;
    padding-bottom: 60px;
    padding-top: 10px;
    margin: 5px;
    padding-left: 2em;
    padding-right: 2em;
    background: linear-gradient(180deg, var(--secondary_background-color), var(--secondary_border-color));
}
/* EDIT INPUTS GUI */

#newTitle, #newDesc
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;  
}
/* EDIT CONFIRMATION BUTTONS */
#confirm_Changes, #cancel_Changes
{
    color: var(--primary_text-color);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;  
}
#confirm_Changes{background-color: green;}
#cancel_Changes{background-color: red;}

/* EDIT GUI */
.modal
{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}
.modal-content {
  background-color: var(--secondary_background-color);
  margin: 5% auto 15% auto;
  border: 8px solid var(--secondary_border-color);
  width: 60%;
}
/* EDIT GUI ANIMATION */
.animate{-webkit-animation: animatezoom 0.6s;animation: animatezoom 0.6s;}
@-webkit-keyframes animatezoom{from{-webkit-transform: scale(0)}to{-webkit-transform: scale(1)}}
@keyframes animatezoom{from{transform: scale(0)}to{transform: scale(1)}}


.task label{float: right;}
.task h2
{
    margin-bottom: 0%;
    text-indent: 0px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-line;
}

.task p
{
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-line;
    margin: 10px;
    text-indent: 0px;
}

.task
{
    background-color: var(--primary_background-color);
    border: 5px var(--primary_border-color) solid;
    margin-bottom: 5px;
    border-radius: 20px;
    padding:5px;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
}
