*{font-family: 'Courier New', Courier, monospace;}
html, body{height: 100%;}
body
{
    color:azure;
    font-size: 15px;
    margin: 20px;
    border-radius: 2px;
    box-sizing: border-box;
    border: 10px rgb(5,5,60) solid;
    background-color: rgb(10,10,100);
}
header
{
    text-align: center;
    margin-top: 1px;
}

 #task_send {
    background-image: url('https://icon-library.com/images/black-plus-icon/black-plus-icon-24.jpg');
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: center;
    width: 25px;
    height: 25px;
    border-radius: 30px;
    cursor: pointer;
}

h1
{
    color: brown;
    font-weight: bold;
    text-decoration: underline;
}

.select_task, .delete_task
{
    width: 25px;
    height: 25px;
}

.task
{
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 5px rgb(20,20,150) solid;
    background-color: rgb(5,5,120);
}
.cur_task{opacity: 1;}
.com_task{opacity: 0.5;}
#search
{
    display: inline-grid;
    margin: auto;
}
#task_name
{
    color:brown;
    font-weight: bold;
}

#task_desc
{
    color:black;
    font-weight: bold;
}
#task_title{color:black;}

#trash_button {
    background-image: url('https://icon-library.com/images/trash-icon-vector/trash-icon-vector-19.jpg');
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: center;
    width: 25px;
    height: 25px;
    border-radius: 3px;
    cursor: pointer;
}

#edit_button {
    background-image: url('https://icons.iconarchive.com/icons/custom-icon-design/mono-general-2/512/edit-icon.png');
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: center;
    width: 25px;
    height: 25px;
    border-radius: 3px;
    cursor: pointer;
}
