/* VARS */
:root
{
    --primary_background-color: rgb(48, 54, 99);
    --secondary_background-color: rgb(70, 46, 105);
    --primary_border-color: rgb(37, 37, 68);
    --secondary_border-color: rgb(43, 17, 56);
    --primary_text-color: rgb(230,230,230);
    --secondary_text-color: rgb(255, 255, 255);
    --input_text-color: rgb(0,0,0);
    --background-color: rgb(0,0,0);
}

/* GLOBAL */
*
{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-optical-sizing: auto;
}
html{color: var(--primary_text-color);}
body
{
    background: linear-gradient(180deg, var(--primary_background-color), var(--background-color));
    font-size: 15px;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: left;
    text-indent: 1em;
    padding-left: 4em;
    padding-right: 4em;
    padding-top: 0%;
    padding-bottom: 0%;
}
header
{
    border: 5px var(--primary_border-color) solid;
    background-color: var(--secondary_background-color);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}
h1
{
    /* color: var(--secondary_text-color); */
    font-weight: bold;
    text-decoration: underline;
    font-size: 3em;
    margin-top: 11px;
}
/* SSQ */
footer
{
    border: 5px var(--primary_border-color) solid;
    background-color: var(--primary_background-color);
    color:var(--secondary_text-color);

    margin-top: 60px;
    text-align: center;
    margin-bottom: 0%;
    padding-bottom: 0%;
    border-radius: 10px;
}
textarea{resize: none;}
input:hover, textarea:hover{opacity: 0.8;}

/* CREATE TASK ZONE */
.textboxes
{
    display: inline-grid;
    margin: 5px 0;
    margin-left: 5px;
    margin-right: 5px;
}
.textboxes_input
{
    color:var(--input_text-color);
    width: 500px;
    height: 30px;
    padding: 2px;
    margin-top: 5px;
    margin: 5px 0;  
}
.SendButton
{
    background-image: url('https://icon-library.com/images/black-plus-icon/black-plus-icon-24.jpg');
    align-self: flex-start;
    margin: 0;
}

/* TASKS */
.task
{
    background-color: var(--primary_background-color);
    border: 5px var(--primary_border-color) solid;
    margin-bottom: 5px;
    border-radius: 20px;
    padding:5px;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
}
.task h2
{
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-line;
    margin-bottom: 0%;
    text-indent: 0px;
}
.task p
{
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-line;
    margin: 10px;
    text-indent: 0px;
}
.task label{float: right;}
.Task_Current{opacity: 1;}
.Task_Complete{opacity: 0.5;}

/* BUTTONS */
.buttonStyle
{
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: center;
    width: 25px;
    height: 25px;
    border-radius: 3px;
    cursor: pointer;
}
.editButton
{
    background-image: url('https://icon-library.com/images/edit-icon-image/edit-icon-image-29.jpg');
    background-color: rgb(205, 192, 106);
}
.deleteButton
{
    background-image: url('../../img/trash_closed_transparent.png');
    background-color: rgb(188, 113, 113);
}
.editButton:hover{background-image: url('../../img/lapiz_movido.png');}
.deleteButton:hover{background-image: url('../../img/trash_open_transparent.png');}
.Task_Current .completeButton
{
    background-image: url('https://clipart-library.com/images_k/check-mark-symbol-transparent-background/check-mark-symbol-transparent-background-2.png');
    background-color: rgb(127, 196, 127);
}
.Task_Complete .completeButton
{
    background-image: url('../../img/cruz.png');
    background-color: rgb(188, 113, 113);
}
.Task_Current .completeButton:hover{background-image: url('../../img/check_verde.png');}

/* EDIT BUTTON GUI */
.container
{
    padding: 16px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.taskTabs
{
    background-color: var(--secondary_background-color);
    border: 5px, var(--secondary_border-color), solid;
    border-radius: 10px;
    padding-bottom: 60px;
    padding-top: 10px;
    margin: 5px;
    padding-left: 2em;
    padding-right: 2em;
    background: linear-gradient(180deg, var(--secondary_background-color), var(--secondary_border-color));
}


/* IDs */
#newTaskName{height: 30px;}
#newTaskDesc{height: 80px;}
.createTaskInputs{padding-bottom: 20px;text-align: center;}

/* EDIT INPUTS GUI */
.editTaskInputs
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;  
}

/* EDIT CONFIRMATION BUTTONS */
.submitEditButtons
{
    color: var(--primary_text-color);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;  
}
#confirm_Changes{background-color: green;}
#cancel_Changes{background-color: red;}

/* EDIT GUI */
.modal
{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}
.modal-content
{
  background-color: var(--secondary_background-color);
  margin: 5% auto 15% auto;
  border: 8px solid var(--secondary_border-color);
  width: 60%;
}
/* EDIT GUI ANIMATION */
.animate{-webkit-animation: animatezoom 0.6s;animation: animatezoom 0.6s;}
@-webkit-keyframes animatezoom{from{-webkit-transform: scale(0)}to{-webkit-transform: scale(1)}}
@keyframes animatezoom{from{transform: scale(0)}to{transform: scale(1)}}


/* ESTO ES UNA PRUEBA*/
.input-button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 10px auto;
}